@charset "UTF-8";

/*
    em HTML id    = em CSS # (So pode um elemento)
    em HTML class = em CSS . (Pode varios elementos)
*/

body {
    background-color: rgb(205, 255, 203);
    font-family: Arial, Helvetica, sans-serif;

}

h1 {
    color: rgb(4, 109, 0);
}

h1#principal {
    text-align: center;
    background-color: rgb(4, 109, 0);
    color: white;
}

h2 {
    color: rgb(74, 168, 67);
}

.basico {
    color: rgb(74, 168, 67);
}

.intermediario {
    color: rgb(201, 191, 61);
}

.avancado {
    color: rgb(184, 56, 56);
}

.destaque {
    background-color: rgba(201, 201, 62, 0.315);
}